<h1>All Ferrets</h1>

<%= link_to 'Add Ferret', new_owner_ferret_path %>

<div>
  <% @ferrets.each do |ferret| %>
    <%= link_to ferret.name, ferret_path(ferret) %><br>
    Needs a home: <%= ferret.home %><br>
  <% end %>
</div>