<h1>All Ferrets</h1>

<br>

<button><%= link_to 'Add Ferret', new_owner_ferret_path(@owner) %> <i class='fas fa-paw'></i></button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button><%= link_to 'My Ferrets', busyness_path(@owner) %> <i class='fas fa-paw'></i></button>

<br><br><br>


  <% @ferrets.each do |ferret| %>
    <div><b><%= link_to ferret.name, ferret_path(ferret) %></b> &bull; Needs a home: <em><%= ferret.home %></em></div><br>
  <% end %>
