<h1>All Ferrets</h1>

<br>

<button><%= link_to 'Add Ferret', new_owner_ferret_path(@owner) %> <i class='fas fa-paw'></i></button>

<div>
  <% @ferrets.each do |ferret| %>
    <%= link_to ferret.name, ferret_path(ferret) %><br>
    Needs a home: <%= ferret.home %><br>
  <% end %>
</div>