<h1>Add a Ferret</h1>







<br><br>
<br><br>
<p>For the sake of this application, please define your ferret by one of the following 8 colors:</p>
<br><br>
<b>Albino, Black, Black Sable, Champagne, Chocolate, Cinnamon, Dark-Eyed White, and Sable.</b>
<br><br>
<p>You may also descrbe a pattern:</p>
<br><br>
<b>Blaze, Mitt, Mutt, Panda, Point, Roan, Solid, Standard, and Striped/Patterned.</b>
<br><br>
<br><br>
<em>Example: Gizmo is a Black Mitt ferret, and Coconut is a Chocolate Blaze ferret.</em>