<h1>Hi, <%= current_user.first_name %>.</h1>

<p>You are successfully logged in. <i class='fas fa-heart' style='color:crimson'></i></p>
<br>
<p>What would you like to do?</p>
<br>
<button><%= link_to 'Add Ferret', new_owner_ferret_path(@owner) %> <i class='fas fa-paw'></i></button>