<h1>Owners</h1>

<p>Owners are advised not to accept an adoption request without a response to the screening 
questionnaire.</p>

<div>
  <% @owners.each do |owner| %>
    <h3>
      <%= link_to owner.first_name, owner_path(owner) %>  - <%= owner.quantity %> ferrets
    </h3>
  <% end %>
</div>