<h1>Hello, <%= @owner.first_name %></h1>

<p>Thank you for signing up!</p>
<br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>