<h1>Hello, <%= @owner.first_name %>.</h1>

<p>Thank you for signing up! <i class='fas fa-heart' style='color:crimson'></i></p>
<br>
<p>Begin here by listing any ferret(s) you currently own.</p>
<br>
<button style='font-size:16px'><%= link_to 'Add Ferret', new_owner_ferret_path(@owner) %> <i class='fas fa-paw'></i></button>