<h1>About Ferrets</h1>

<h2>Latin name: <em>Mustela furo</em></h2>

<p>Ferrets are a domestic species of small mustelid. It is thought to be a descendant of the European polecat, a mammal belonging to the same genus as the weasel. Analysis of mitochondrial DNA suggests that ferrets were domesticated around 2,500 years ago.</p>

<p>The name "ferret" is derived from the Latin <em>furittus,</em> meaning "little thief," a likely reference to the common ferret penchant for secreting away small items.</p>

<p><b>A group of ferrets is historically known as a "busyness."</b> <br>
A male ferret is called a hob; a female ferret is a jill. A spayed female is a sprite, a neutered male is a gib, and a vasectomised male is known as a hoblet. Ferrets under one year old are known as kits. Most pet ferrets in the USA are neutered/spayed, and descented.</p>

<p>There are four basic colors: The sable (including chocolate and dark brown), albino (with red eyes), dark eyed white (DEW), and silver. All other ferret colors are variations of these four categories. </p>

<p>Ferrets with a white stripe on their face or a fully white head, primarily blazes, badgers, and pandas, usually carry a congenital defect similar to Waardenburg syndrome: a broader skull, white face markings, and also partial or total deafness.</p>

<p><b>Aging and geriatric ferrets need special attention and care.</b> <br>
Commercially-bread ferrets are susceptible to several distinct health issues, particularly cancers affecting the adrenal glands, pancreas, and lymphatic system. With proper care, their average life span is 7 to 10 years.</p><em>Source: Wikipedia</em>
