<h1>Screening Process</h1>

<p>Thanks for wanting to adopt! <i class='fas fa-heart' style='color:crimson'></i> Answering this brief questionnaire will help us learn which ferret will best fit your family and determine if you need more info/support in any area.</p>

<b>YOU WILL BE CONTACTED BY PHONE. Please be ready to answer every question to the best of your ability. This is for the protection of the ferrets first and foremost, the adopter and adoptee second.</b>
<br><br>
<ol type="1">
<li> This application is defaulted to owners that have at least one ferret. If you’ve had ferrets before but don’t now, can you tell us what happened to your pets? If you’ve never had ferrets, have you been around any and can you describe what you know about them?</li> 

<li> Do you have other pets? How many and what kind?</li>  

<li> Do your pets receive annual vaccinations? Do you have a regular vet, and can we have the hospital name/phone to check a reference? Do you need a referral to a ferret-knowledgeable vet?</li>

<li> Can you tell us a little about your home? If you have partner/roommate, do they know and approve of you adopting? Do you live with your parents? Will they be involved in the adoption? Do you have kids? What are their ages? Are you planning children in the next 5 years?</li>

<li> Do you own a home or do you rent? If you are a renter, we require that you have landlord permission for caged animals.</li>

<li> Are you in school or do you work? About how many hours is someone home during the day?</li>

<li> Can you tell us how you plan to house your ferret?</li>

<li> Do you need a cage or other supplies?</li>

<li> Do you have a specific food you plan to use? <em>(We’re happy to offer suggestions if needed and you will get a sample of what the ferret currently eats.)</em></li>

<li> Do you know how to clean ears, clip nails and brush teeth? <b>We will provide you with safety/care instructions.</b> We may test your knowledge with a few more questions: </li>
<ul>
<br>
<li> Would you select a peppermint scented shampoo to bathe your ferret with weekly?</li> 
<li> What kind of litter box/pan material would you use? </li>
<li> Do ferrets benefit from fruits and vegetables? What food would you feed them? </li>
<li> Would a tall climbing cat tree be a suitable birthday gift for your ferret?</li>
<li> What kinds of materials are best left unobtainable to your ferrets for risk of blockage if ingested? What steps would you take if your ferret did ingest those materials? </li>
<li> Are stairs a good place for a ferret to play? How can they be made safe places? </li>
<li> What are some emergency items to have on hand for your ferret? </li>
<li> If your ferret is suffering from a seizure or unconsciousness from low blood sugar, what steps would you take to help him/her? </li>
<li> What should you do prior to laundering your clothes or cooking dinner? Do these rooms have doors or barriers to block your ferrets from entering? </li>
<li> Would your ferrets appreciate wood shavings as their bedding? What would be appropriate comfort items for them to have? </li>
<li> Why are recliners not appropriate items in areas that your ferrets share with you? </li>
<li> If you're comfortable in summer season, at what temperatures is it okay to leave your air conditioner off with ferrets in your home?</li>
</ul>
</ol>
<br><br>
<h6>Source: The Ferret Association of Connecticut, Inc. Edited for brevity.</h6>