<h1>Opportunities</h1>

<button><%= link_to 'Add Opportunity', new_owner_opportunity_path(@owner) %></button>

<div>
  <% @opportunities.each do |opportunity| %>
    <div><%= link_to opportunity.title, opportunity_path(opportunity) %></div>
  <% end %>
</div>