<h1>Opportunities</h1>

<br>

<button><%= link_to 'New Opportunity', new_owner_opportunity_path(:owner_id) %> <i class='fas fa-heart' style='color:crimson'></i></button>

<div>
  <% @opportunities.each do |opportunity| %>
    <div><%= link_to opportunity.title, opportunity_path(opportunity) %></div>
  <% end %>
</div>