<h1><%= @opportunity.title %></h1>
<p><%= @opportunity.circumstance %></p>
<p><em>Shared by <%= @opportunity.owner.first_name %> on <%= @opportunity.updated_at %>.</em></p>
<br><br>
<% if @opportunity.active %>
  This case is still active.
<% else %>
  This opportunity is now closed.
<% end %>
<br><br>