<h2><%= @opportunity.title %></h2>
<p><%= @opportunity.circumstance %></p>
<p>Shared by <%= @opportunity.owner.first_name %> on <%= @opportunity.updated_at %>.</p>
<br><br>
<% if @opportunity.active %>
  This case is still active.
<% else %>
  This opportunity is now closed.
<% end %>
<br><br>