<h2><%= @opportunity.title %></h2>
<p><%= @opportunity.circumstance %></p>
<em><%= @opportunity.updated_at %></em>
<br><br>
<% if @opportunity.active %>
  This case is still active.
<% else %>
  This opportunity is now closed.
<% end %>